.left {
    float: left;
    text-align: center;
    padding: 1% 5%;
}

button {
    margin: 1%;
    padding: .5%;
    background-color: black;
    color: lime;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#searchButtons::after {
    content: "";
    clear: both;
    display: table;
}

form {
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

body {
    background-color: rgba(68, 68, 68, 0.918);
}